@using MyWorkManager.Migrations;
@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager;

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->

    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/dist/js/jquery-3.5.1.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>


</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container" style="font-size: 18px">

            <ul class="nav nav-pills " style="float: left">
                <li><a asp-controller="Home" asp-action="Index">主页</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        用户管理 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li> <a class="nav nav-pills " asp-area="" asp-controller="User" asp-action="Index">用户管理</a></li>
                        <li> <a class="nav nav-pills " asp-area="" asp-controller="Role" asp-action="Index">角色管理</a></li>

                    </ul>
                </li>
            </ul>
            <form asp-action="Logout" asp-controller="Account" method="post" id="logoutForm" style="float: right">
                <ul class="nav nav-pills  ">
                    @if (SignInManager.IsSignedIn(User))
                    {

                        <li><a href="#">欢迎你：@User.Identity.Name @*@UserManager.GetUserName(User)*@</a></li>
                        <li> <a href="javascript:document.getElementById('logoutForm').submit()">退出</a></li>
                        <li> <a asp-action="Register" asp-controller="Account">注册</a></li>
                    }
                    else
                    {

                        <li><a asp-action="Login" asp-controller="Account">登入</a></li>

                    }
                </ul>
            </form>
        </div>
    </nav>

    <div style="margin-top: 80px">
        <div class="container">
            @RenderBody()
        </div>

    </div>



</body>
</html>
