@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>;


<div class="container">
   
    <table class="table table-bordered" id="ticketnumber">

        <tr style="text-align:center">
            <th>编号</th>
            <th>用户名</th>
            
            <th colspan="2"><div class="col-md-4">操作</div></th>
        </tr>
        @{
            foreach (var item in Model)
            {
               
                <tr style="text-align:center">
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td><a asp-controller="User" asp-action="UpDataUser" asp-route-Id="@item.Id,入库">修改</a></td>
                    <td><a asp-controller="User" asp-action="DeleteUser" asp-route-Id="@item.Id,出库">删除</a></td>

                </tr>
               
            }
           

        }
       
    </table>
  
</div>