@model IEnumerable<MyWorkManager.Models.Homeimg>;

@{ 
    ViewBag.Title = "办公用品及饭票管理";
}

    <div class="container">
        <div class="row">
            @{
                foreach (var item in Model)
                {


                    @*<div class="thumbnail">
                    <a asp-controller=@item.ControllName asp-action="Index" asp-route-itemnaem=@item.Name><img src=@item.Url alt="..."></a>
                    <div class="caption">
                        <h3>@item.Name</h3>
                    </div>
                </div>*@

                    <div class="col-xs-6 col-sm-3 placeholder">
                        <a asp-controller=@item.ControllName asp-action="Index" asp-route-itemnaem=@item.Name></a>
                        <img src=@item.Url width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <a asp-controller=@item.ControllName asp-action="Index" asp-route-itemnaem=@item.Name>
                            <h4>@item.Name</h4>
                        </a>
                        <span class="text-muted">Something else</span>
                    </div>


                }
            }

           

        </div>
        </div>
   